button {
    all: unset;
    font-weight: 500;
    color: var(--text-highlight);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

/* Botão primário */
button.btn-primary {
    color: #FFF;
    background-color: #E43A12;
}

button.btn-primary:hover,
button.btn-primary:focus {
    background-color: #F3541C;
}

/* Botão secundário */
button.btn-secondary {
    margin-left: auto;
    border: 1px solid var(--text-highlight);
}

button.btn-secondary:hover,
button.btn-secondary:focus {
    color: #E43A12;
    outline: .25rem solid var(--surface-secondary);
}

